<div>
    <h2 style="color:#FFC401">Multiplication example</h2>
    <div class="form-group">
            <label for="usr"> Multiplier1:</label>
        <input type="number" [(ngModel)]='multiplier1' class="form-control" placeholder="Enter first number">
        </div>
        <div class="form-group"><label for="usr">Multiplier2:</label>
        <input type="number" [(ngModel)]='multiplier2' class="form-control" placeholder="Enter second number">
        </div>
    
     <div class="form-group"><label for="usr">Result:</label>
        <h4>Multiplications : {{ multiplier1 * multiplier2 }}</h4></div>
    
    </div>
    