<div>
        <h2 style="color:rgb(137, 209, 202);">Difference example</h2>
        <div class="form-group">
                <label for="usr">First Number:</label>
            <input type="number" [(ngModel)]='firstnumber' class="form-control" placeholder="Enter first number">
            </div>
            <div class="form-group"><label for="usr">Second Number:</label>
            <input type="number" [(ngModel)]='secondnumber' class="form-control" placeholder="Enter second number">
            </div>
        
         <div class="form-group"><label for="usr">Result:</label>
            <h4>Difference : {{ firstnumber - secondnumber }}</h4></div>
        
        </div>
        