
<div>
<h2 style="color:#ff6666;">Summing example</h2>
<div class="form-group">
        <label for="usr">First Number:</label>
    <input type="number" [(ngModel)]='fixedValue' class="form-control" placeholder="Enter first number">
    </div>
    <div class="form-group"><label for="usr">Second Number:</label>
    <input type="number" [(ngModel)]='downpayment1' class="form-control" placeholder="Enter second number">
    </div>

 <div class="form-group"><label for="usr">Result:</label>
    <h4>Sum : {{ fixedValue + downpayment1 }}</h4></div>

</div>

 